* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-side {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.left-side h1 {
  font-size: 50px;
}
.left-side img {
  width: 30%;
}
.userInput {
  display: flex;
  align-items: center;
  justify-content: center;
}
.userInput input {
  width: 40%;
  padding: 7px;
  font-size: large;
}

.left-side img {
  width: 15%;
}

input {
  color: black;
}
.userInput {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.userInput span {
  color: red;
  padding: 10px;
}
